@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Open+Sans');

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100%;

}

.navbar {
  margin-bottom: -30px;
  background-color: white;
  border-bottom: 1px solid #efefef;
  height: 80px;
  z-index: 9999;
}

.navbar-nav {
  padding-right:50px;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.link {
  height:78px;

}

.link li {

  margin-top:15px;
}

.link li:hover {
  background-color: none;
}

.link a {
  font-size: 16px;
  color:#333;
}

.link a:hover {
  background: none;
}


.line-1 {
  background: #59caec;
  width:60px;
  height:5px;
  margin-top:15px;
  margin-left: 30px;
}

.about {
  height: 100%;
  background: white;
  padding-bottom: 30px;
}

.about .title {
  font-size: 30px;
  width: 50%;
  padding:50px 0 0 30px;
}

.about .title-2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color:#11a2ca;
}

.about .description {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  padding: 30px;
  line-height: 180%;
}

.about .desc-2 {
  padding: 10px 20px 0px 20px;
  text-align: center;
  line-height: 180%;
}

.pillar-img img{
  display: block;
  margin:auto;
  padding:20px;
  width:120px;

}


@media screen and (max-width: 730px) {
  .about .description {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }

  .about .title {
    width: 80%;
  }
}
