@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Source+Sans+Pro|Nunito');

@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('HKGrotesk-Light.eot'); /* IE9 Compat Modes */
  src: url('HKGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HKGrotesk-Light.woff') format('woff'), /* Modern Browsers */
       url('HKGrotesk-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HKGrotesk-Light.svg#svgHKGroteskLight') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('HKGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: url('HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HKGrotesk-Regular.woff') format('woff'), /* Modern Browsers */
       url('HKGrotesk-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HKGrotesk-Regular.svg#svgHKGroteskLight') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HKGrotesk-Medium';
  src: url('HKGrotesk-Medium.eot'); /* IE9 Compat Modes */
  src: url('HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HKGrotesk-Medium.woff') format('woff'), /* Modern Browsers */
       url('HKGrotesk-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HKGrotesk-Medium.svg#svgHKGroteskMedium') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'HKGrotesk-SemiBold';
  src: url('HKGrotesk-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('HKGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HKGrotesk-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('HKGrotesk-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('HKGrotesk-SemiBold.svg#svgHKGroteskMedium') format('svg'); /* Legacy iOS */
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'HKGrotesk-Regular', sans-serif;
}

header {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100%;

}


.main-heading {
  font-size: 80px;
  font-family: 'HKGrotesk-SemiBold', sans-serif;
}

.applynow {
  padding:80px 0 0 30px;
  letter-spacing: 0px;
}

.applynow a{
  font-size: 24px;
  background-color: rgba(255,255,255,1);
  color:#11a2ca;
  padding:15px 30px;
  border-radius: 40px;
  border:3px solid white;
  font-size:20px;
  text-shadow: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.applynow a:hover{
  background-color: white;
  color:#11a2ca;
  text-decoration: none;
  text-shadow: none;
  background-color: rgba(255,255,255,.8);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}


.navbar {
  margin-bottom: -30px;
  background-color: white;
  border-bottom: 1px solid #efefef;
  height: 80px;
  font-family: 'HKGrotesk-Medium', sans-serif;
  z-index: 9999;
  border-radius: 0px;
}



.navbar-nav {
  padding-right:50px;
  z-index: 9999;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.link {
  height:78px;

}

.link li {

  margin-top:15px;
}

.link li:hover {
  background-color: none;
}

.link a {
  font-size: 16px;
  color:#333;
}

.link a:hover {
  background: none;
}

.navbar-toggle {
  padding-top: 20px;
}

.navbar-toggle .icon-bar {
    background-color: #333;
}

.line-1 {
  background: #59caec;
  width:60px;
  height:5px;
  margin-top:15px;
  margin-left: 30px;
}



.collapse ul:hover a {
  color: transparent;
	text-shadow: 0 0 5px #555;
  -webkit-transition: .5s; /* Safari */

}

.collapse ul a {
  -webkit-transition: .5s; /* Safari */

}

.collapse ul a:active {
  background-color: #fafafa;
  -webkit-transition: .5s; /* Safari */

}

.collapse li:hover a {
  color: #333;
  text-shadow: none;
  -webkit-transition: .5s; /* Safari */
  background: none;
}
.about {

  background: white;
  padding-bottom: 60px;
}

.about .title {
  font-size: 30px;
  width: 50%;
  padding:50px 0 0 30px;
}

.about .title-2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color:#11a2ca;
}

.about .description {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  padding: 30px;
  line-height: 180%;
  font-size: 18px;
}

.about .desc-2 {
  padding: 10px 20px 0px 20px;
  text-align: center;
  line-height: 180%;
  font-size: 16px;
}

.pillar-img img{
  display: block;
  margin:auto;
  padding:20px;
  width:120px;

}


.board {
  background-image: url('../img/group1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;

  color: white;


}

.board .title {
  font-size: 35px;
  color:white;
  text-align: center;
  padding:20px;
  padding-top:60px;
  margin:auto;
  width:300px;
}

.line-2 {
  background: #59caec;
  width:60px;
  height:5px;
  margin-top:15px;
  margin-left:16px;
}

.apply {
  padding-bottom:100px;
}

.apply .title {
  font-size: 30px;
  width: 50%;
  padding:50px 0 0 30px;
}

.apply .title-2 {
  font-size: 24px;
  color:#38B9DE;
  width: 50%;
  padding:50px 0 0 30px;
}

.apply .description {
  font-size: 18px;
  padding:20px 0 0 30px;
}

.apply .description a{
  font-size: 18px;
  color:#38B9DE;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.apply .description a:hover{
  color:#a0d6e5;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.apply .pay {
  padding:80px 0 0 30px;
}

.apply .pay a{
  font-size: 24px;
  background-color: #11a2ca;
  color:white;
  padding:15px 30px;
  border-radius: 40px;
  border:3px solid #11a2ca;
}

.apply .pay a:hover{
  background-color: white;
  color:#11a2ca;
  text-decoration: none;
}

.contact {
  padding:50px 30px 30px 30px;
  background: #1e5c6e;
  color:white;
  background-image:    url(../img/footer.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.contact p {
  font-size: 17px;
  opacity:.8;
}

.contact .title{
  font-size: 22px;
  font-weight: bold;
  width:300px;
}

.contact .contact-link a{
  color:white;
  opacity: .7;
}

.contact .contact-link a:hover{
  text-decoration: none;
  opacity: 1;
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 1em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	overflow: hidden;
	min-width: 280px;
	max-width: 280px;
	max-height: 280px;
  margin:30px auto 30px auto;
	text-align: center;
	cursor: pointer;
  color:black;
}

.grid figure img {
	position: relative;
	display: block;
	opacity: 1;
  width:280px;
}

.grid figure figcaption {
	padding: 2em;
	color: black;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;

}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
  color:black;
  text-align: left;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p a {
	margin: 0;
  color:#38b9de;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.grid figure p a:hover {
  color:#a4dbea;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 15px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 2px;
  color:#38b9de;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    height:100%;
    background: white;
  }

  .link {
    margin-top:8px;
    padding-right: 0px;
    background: white;
  }
  .link li{
    margin:0px;

  }
}

@media screen and (max-width: 730px) {
  .about .description {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }

  .about .title {
    width: 80%;
  }
}
